<div class="headerr">
    <div class="columns-2">
     <div class="wayne-face"> <img src="https://i.imgur.com/MyPTSmh.png" /></div>
     <div class="century-logo"><img src="https://i.imgur.com/BS8EJ6c.png" /></div>
    </div>
</header>