<div class="headerr">
    <div class="columns-2">
     <img src="https://i.imgur.com/1HFcDq9.png" />
     <img src="https://i.imgur.com/X9Pv5TJ.png" style="width: 50%; height: 50%"/>
    </div>
</header>